.topcoat-list__item__line-height{
	padding-left: 10px;
	padding-right: 10px;
}

.rn-carousel-container{
	padding-left: 10px;
	padding-right: 0px;
}

.grid-padding{
	padding-left: 10px;
	padding-right: 10px;
}

.left{
	text-align: left;
}

.fasum{
	text-align: left;
	padding-bottom: 10px;
}

.label-data{
	padding-bottom: 5px;
}

.isian-data{
	padding-bottom: 5px;
}

.avatar {
  width: 50%;
  height: 50%;
  margin-bottom: 30px;
}

.avatar img {
  width: 100px;
  height: auto;
  border: 1px solid #efefef;
  border-radius: 100px;
}

.textarea{
	width: 100%;
}
