<ons-navigator title="Profil Pengguna">
	<ons-scroller class="center">
		<br />
		<br />
		<div class="avatar"><img src="img/ava.jpg"></div>
		<h3>Ahmad Haris</h3>
		<ons-row class="grid-padding">
			<ons-col>@princeofgiri</ons-col>
			<ons-col>http://princeofgiri.com</ons-col>
		</ons-row>
		<br />
		<h4 class="grid-padding left">Tentang Saya</h4>
		<ons-row class="grid-padding left">
			Pencetus KodeKreatif, mantan Manajer Rilis Blankon. Suka genjreng-genjreng gitar elektrik, dan betah baca novel fiksi.
		</ons-row>
		<br />
		<br />
		<ons-row class="grid-padding left">
			<ons-col></ons-col>
			<ons-col>
				<ons-button ng-click="ons.navigator.pushPage('tentang.html')">Tentang Aplikasi</ons-button>
			</ons-col>
			<ons-col></ons-col>
		</ons-row>

	</ons-page>
</ons-navigator>
