<ons-scroller class="center">
	<ons-row class="grid-padding center">
		<h3 class="left">Tim Pengembang</h3>
	</ons-row>
	<br />
	<ons-row class="grid-padding">
		<img src="img/blankon.png" width="50%">
	</ons-row>
	<br />
	<br />
	<ons-row class="grid-padding">
		<h3 class="left">Sumber Data</h3>
	</ons-row>
	<ons-row class="grid-padding">
		
	</ons-row>
</ons-scroller>
